<VirtualHost *:443>
    ServerName {{ letsencrypt_primary_domain }}
    DocumentRoot /var/www/html

    SSLEngine on
    SSLCertificateFile /etc/letsencrypt/live/{{ letsencrypt_primary_domain }}/fullchain.pem
    SSLCertificateKeyFile /etc/letsencrypt/live/{{ letsencrypt_primary_domain }}/privkey.pem

    <Directory /var/www/html>
        AllowOverride All
        Require all granted
    </Directory>

    ErrorLog ${APACHE_LOG_DIR}/root_ssl_error.log
</VirtualHost>

<VirtualHost *:80>
    ServerName {{ letsencrypt_primary_domain }}
    Redirect permanent / https://{{ letsencrypt_primary_domain }}/
</VirtualHost>