<VirtualHost *:443>
    ServerName {{ webroot_domain | mandatory }}
    DocumentRoot /var/www/html

    Include conf-available/ssl_params.conf

    <Directory /var/www/html>
        AllowOverride All
        Require all granted
    </Directory>

    ErrorLog ${APACHE_LOG_DIR}/root_ssl_error.log
</VirtualHost>

<VirtualHost *:80>
    ServerName {{ webroot_domain | mandatory }}
    Redirect permanent / https://{{ webroot_domain }}/
</VirtualHost>