- name: Ensure required Apache modules are enabled
  command: "a2enmod {{ item }}"
  args:
    creates: "/etc/apache2/mods-enabled/{{ item }}.load"
  loop: "{{ apache_required_modules }}"  

- name: Create standard SSL snippet
  template:
    src: ssl_params.conf.j2
    dest: /etc/apache2/conf-available/ssl_params.conf
  register: apache_ssl_snippet_status

- name: Set Apache ServerName to suppress AH00558 warning
  become: yes
  lineinfile:
    path: /etc/apache2/apache2.conf
    regexp: '^#?ServerName'
    line: 'ServerName localhost'
    state: present
  notify: Reload Apache gracefully