- name: Ensure required Apache modules are enabled
  command: "a2enmod {{ item }}"
  args:
    creates: "/etc/apache2/mods-enabled/{{ item }}.load"
  loop: "{{ apache_required_modules }}"

- name: Disable default Apache site
  command: a2dissite 000-default.conf
  notify: Reload Apache gracefully