- name: Download latest Nextcloud release
  get_url:
    url: https://download.nextcloud.com/server/releases/latest.tar.bz2
    dest: "{{ nextcloud_archive }}"
    mode: '0644'
  register: nextcloud_download

- import_tasks: backup.yml
  when: nextcloud_download.changed

- import_tasks: update.yml
  when: nextcloud_download.changed
  
- import_tasks: initial_configuration.yml