- name: Check if Nextcloud directory exists
  stat:
    path: "{{ nextcloud_www_dir }}"
  register: nextcloud_dir

- name: Install nextcloud
  block:
    - name: Download latest Nextcloud release
      get_url:
        url: https://download.nextcloud.com/server/releases/latest.tar.bz2
        dest: "{{ nextcloud_archive }}"
        mode: '0644'

    - name: Ensure Nextcloud directory exists
      file:
        path: "{{ nextcloud_www_dir }}"
        state: directory
        mode: '0755'    
    
    - name: Extract Nextcloud
      unarchive:
        src:  "{{ nextcloud_archive }}"
        dest: "{{ nextcloud_www_dir }}"
        remote_src: yes
        extra_opts: [--strip-components=1]        

    - name: Ensure correct ownership
      file:
        path: "{{ nextcloud_www_dir }}"
        recurse: yes
        owner: www-data
        group: www-data

    - import_tasks: initial_configuration.yml    
    
  when: not nextcloud_dir.stat.exists

  rescue:
    - name: Remove directory if instalation fails
      file:
        path: "{{ nextcloud_www_dir }}"
        state: absent
        force: yes