- name: Ensure Nextcloud directory exists
  file:
    path: "{{ nextcloud_www_dir }}"
    state: directory
    mode: '0755'

- name: Extract Nextcloud
  unarchive:
    src:  "{{ nextcloud_archive }}"
    dest: "{{ nextcloud_www_dir }}"
    remote_src: yes
    extra_opts: [--strip-components=1]
    creates: "{{ nextcloud_www_dir }}/index.php"

- name: Ensure correct ownership
  file:
    path: "{{ nextcloud_www_dir }}"
    recurse: yes
    owner: www-data
    group: www-data