- name: Ensure Nextcloud directory exists
  file:
    path: /var/www/nextcloud
    state: directory
    mode: '0755'

- name: Install extraction tools
  apt:
    name:
      - tar
      - bzip2
    state: present    

- name: Extract Nextcloud
  unarchive:
    src: "{{ nextcloud_archive }}"
    dest: /var/www/nextcloud
    remote_src: yes
    extra_opts: [--strip-components=1]
    creates: /var/www/nextcloud/index.php

- name: Ensure correct ownership
  file:
    path: /var/www/nextcloud
    recurse: yes
    owner: www-data
    group: www-data