php_version: "8.4"

extra_packages:
  - apache2
  - libapache2-mod-php
  # PHP modules
  - php{{ php_version }}
  - php{{ php_version }}-curl
  - php{{ php_version }}-dom
  - php{{ php_version }}-gd
  - php{{ php_version }}-mbstring
  - php{{ php_version }}-xml
  - php{{ php_version }}-zip  
  - php{{ php_version }}-sqlite3
  # Used to extract NextCloud Archive
  - tar
  - bzip2
  # Needed for Ansible to connect as unpriviledged user
  # https://docs.ansible.com/projects/ansible-core/2.19/playbook_guide/playbooks_privilege_escalation.html#risks-of-becoming-an-unprivileged-user
  - acl
  # Let's Encrypt utils
  - certbot   
  - openssl

apache_required_modules:
  - php{{ php_version }}
  - ssl
  - rewrite
  - headers
  - env
  - dir
  - mime
  - socache_shmcb