php_version: "8.4"

extra_packages:
  - apache2
  - libapache2-mod-php
  # PHP modules
  - php{{ php_version }}
  - php{{ php_version }}-curl
  - php{{ php_version }}-dom
  - php{{ php_version }}-gd
  - php{{ php_version }}-mbstring
  - php{{ php_version }}-xml
  - php{{ php_version }}-zip  
  - php{{ php_version }}-sqlite3

apache_required_modules:
  - php{{ php_version }}
  - rewrite
  - headers
  - env
  - dir
  - mime
