- name: Install extra dependencies
  apt:
    name: "{{ extra_packages }}"
    state: present
    update_cache: yes

- name: Upgrade all packages
  tags: ['upgrade']
  apt:
    update_cache: yes
    upgrade: dist
    autoremove: yes