- name: Run SSH hardening tasks
  include_tasks: sshd_setup.yml

- name: Install extra dependencies
  apt:
    name: "{{ extra_packages }}"
    state: present
    update_cache: yes

- name: Upgrade all packages
  tags: ['upgrade']
  apt:
    update_cache: yes
    upgrade: dist
    autoremove: yes