- name: Ensure environment is ready
  include_tasks: roles/apache2/tasks/check_snippet.yml
  vars:
    vhost_name: "Nextcloud"

- name: "Configure NextCloud Apache site"
  include_tasks: roles/apache2/tasks/configure_site.yml
  vars:
    site_src: nextcloud.conf.j2
    site_name: nextcloud.conf

- name: Set PHP memory limit for mod_php
  lineinfile:
    path: /etc/php/{{ php_version }}/apache2/php.ini
    regexp: '^memory_limit'
    line: 'memory_limit = 512M'
    state: present
  notify: Restart Apache

- name: Set PHP memory limit for CLI
  lineinfile:
    path: /etc/php/{{ php_version }}/cli/php.ini
    regexp: '^memory_limit'
    line: 'memory_limit = 512M'
    state: present
  notify: Restart Apache

- name: Increase OPcache interned strings buffer
  lineinfile:
    path: /etc/php/{{ php_version }}/apache2/php.ini
    regexp: '^;?\s*opcache\.interned_strings_buffer'
    line: 'opcache.interned_strings_buffer=16'
    state: present
  notify: Restart Apache