- name: Copy Nextcloud VirtualHost configuration
  template:
    src: nextcloud.conf.j2
    dest: /etc/apache2/sites-available/nextcloud.conf
  notify: Reload Apache gracefully  

- name: Enable Nextcloud site
  command: a2ensite nextcloud.conf
  args:
    creates: /etc/apache2/sites-enabled/nextcloud.conf
  notify: Reload Apache gracefully