- name: Ensure environment is ready
  include_tasks: roles/apache2/tasks/check_snippet.yml
  vars:
    vhost_name: "Nextcloud"

- name: "Configure NextCloud Apache site"
  include_tasks: roles/apache2/tasks/configure_site.yml
  vars:
    site_src: nextcloud.conf.j2
    site_name: nextcloud.conf