- name: Copy Nextcloud VirtualHost configuration
  template:
    src: nextcloud.conf.j2
    dest: /etc/apache2/sites-available/nextcloud.conf

- name: Enable Nextcloud site
  command: a2ensite nextcloud.conf
  args:
    creates: /etc/apache2/sites-enabled/nextcloud.conf

- name: Disable default Apache site
  command: a2dissite 000-default.conf

- name: Reload Apache to apply configuration
  command: apache2ctl -k graceful