- name: Check if Nextcloud directory exists
  stat:
    path: /var/www/nextcloud
  register: nextcloud_dir

- name: Ensure backup directory exists
  file:
    path: /var/backups/nextcloud
    state: directory
    owner: ansible
    group: ansible
    mode: '0755'  

- name: Backup current Nextcloud
  command: cp -r /var/www/nextcloud /var/backups/nextcloud/nextcloud-{{ ansible_date_time.iso8601 }}
  when: false
#  when: nextcloud_dir.stat.exists
