# 1. Prepare PostgreSQL servers
- hosts: postgres_servers
  become: yes
  roles:
    - debian

# 2. Install apache2 web frontend + mod_php and initialize nextcloud
- hosts:
  - webfronts
  become: yes
  vars_files:
    - vars/secrets.yml
  roles:
    - debian
    - apache2
    - { role: letsencrypt,  when: letsencrypt_primary_domain is not none }
    - { role: ssl_snakeoil, when: letsencrypt_primary_domain is     none }
    - nextcloud_files
    - apache2_nextcloud
    - apache2_webroot