---
- name: Setup Debian Workstations
  hosts: localhost
  connection: local
  become: true
  vars:
    # Change this to your actual repo
    dotfiles_repo: "https://github.com/yourusername/dotfiles.git"
    # Detects the user who ran 'sudo' to ensure files are owned by you
    target_user: "{{ ansible_env.SUDO_USER | default(ansible_user_id) }}"
    target_home: "/home/{{ ansible_env.SUDO_USER | default(ansible_user_id) }}"

  tasks:
    - name: 1. Disable NetworkManager-wait-online service
      ansible.builtin.systemd:
        name: NetworkManager-wait-online.service
        enabled: false
        state: stopped

    - name: 2. Set GTK_GL environment variable
      ansible.builtin.copy:
        dest: /etc/environment.d/99-gtk-gl.conf
        content: "GTK_GL=gles"
        mode: '0644'

    - name: 3. Install APT packages
      ansible.builtin.apt:
        name:
          - vlc, vim, tree, tar, lollypop, linux-cpupower, git, g++
          - borgbackup, pavucontrol, papirus-icon-theme, flatpak, stow
          - python3-gi  # Required for dconf module to work reliably
        state: present
        update_cache: yes

    - name: 4. Configure Flatpak & Install VSCodium
      block:
        - name: Add Flathub repository
          community.general.flatpak_remote:
            name: flathub
            state: present
            flatpakrepo_url: https://dl.flathub.org/repo/flathub.flatpakrepo

        - name: Install VSCodium via Flatpak
          community.general.flatpak:
            name: com.vscodium.codium
            state: present
            remote: flathub

    - name: 5. Manage Desktop Settings (dconf)
      # These must run as YOUR user to affect your desktop
      become_user: "{{ target_user }}"
      community.general.dconf:
        key: "{{ item.key }}"
        value: "{{ item.value }}"
      loop:
        - { key: "/org/gnome/desktop/interface/color-scheme", value: "'prefer-dark'" }
        - { key: "/org/gnome/desktop/interface/clock-show-date", value: "true" }

    - name: 6. Deploy Dotfiles
      become_user: "{{ target_user }}"
      block:
        - name: Clone dotfiles repository
          ansible.builtin.git:
            repo: "{{ dotfiles_repo }}"
            dest: "{{ target_home }}/dotfiles"
            update: yes

        - name: Link dotfiles with Stow
          ansible.builtin.shell:
            cmd: "stow ."
            chdir: "{{ target_home }}/dotfiles"
          changed_when: false